{% extends 'admin_header.html' %}
{% block content %}
  {% load static %}
  <div class="admin-container">
    <div class="admin-title">
      <h2>Add-on Courses</h2>
      <a class="btn-add btn" href="{% url 'add_on_course_create' %}"><img src="{% static 'assets/new.svg' %}" class="img-small" alt="" />New</a>
    </div>

    <div class="table-con">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Syllabus</th>
            <th>Status</th>
            <th class="actions">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for c in courses %}
            <tr>
              <td>{{ c.id }}</td>
              <td>{{ c.title }}</td>
              <td>
                {% if c.file %}
                  <a href="{{ c.file.url }}" class="btn-add btn" style="width: 20vh;" target="_blank">View File</a>
                {% else %}
                  N/A
                {% endif %}
              </td>
              <td>
                {% if c.is_active %}
                  Active
                {% else %}
                  Inactive
                {% endif %}
              </td>
              <td>
                <a class="btn-edit btn" href="{% url 'add_on_course_update' c.id %}">Edit</a>
                <a class="btn-delete btn" href="{% url 'add_on_course_delete' c.id %}">Delete</a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="5">No add-on courses yet.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
