{% extends 'header.html' %}
{% block content %}
  {% load static %}

  <div class="container banner">
    <div class="heading">Admission Process</div>
  </div>

  <div class="container">
    <div class="sec-container column-flex">
      <div class="flex gap full">
        <div class="small-container flex-just-start">
          <div class="head-big">ADMISSION</div>
        </div>
      </div>

      <div class="small-container">
        <p>50% of total seats in UG and PG will be filled up by the University of Calicut through CAP (Centralised Admission Process) and 50% seats of Management Quota by the College Management.</p>
        <p>Students seeking admission in Management Quota also should register in CAP. Application forms are available from the SNDP Union Office, Vatakara. SC/ST/OBC/OEC/EWS reservation as per rules will be given.</p>
      </div>
    </div>
  </div>
{% endblock %}
