{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">FYUGP Major Courses and syllabus</div>
</div>

<div class="container">
  <div class="sec-container">
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BCA Honours</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BCA Honours.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BA Functional English Honours</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BA Functional English Honours.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BSc Botany Honours</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BSc Botany Honours.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BSc Chemistry Honours</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BSc Chemistry Honours.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BSc Computer Science Honours</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BSc Computer Science Honours.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BSc Mathematics Honours</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BSc Mathematics Honours.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BSc Physics Honours</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BSc Physics Honours.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BSc Psychology Honours</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BSc Psychology Honours.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BSc Zoology Honours</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BSc Zoology Honours.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">Bcom Honours</div>
      </div>
      <a
        href="{% static 'assets/syllabus/Bcom Honours.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BBA Honours</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BBA Honours.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
  </div>
</div>

{% endblock %}
