{% extends "header.html" %} {% block content %} {% load static %}
<div class="container">
  <section class="hero">
  {% for banner in banners %}
  <a href="{{ banner.url }}" target="_blank" class="slide-link">
    <img class="mySlides fade" src="{{ banner.image.url }}" alt="" />
  </a>
  {% endfor %}

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</section>

  {% if notifications %}
  <div class="notification-ticker">
    <div class="ticker-label">
      <span class="ticker-dot"></span>
      <span class="ticker-text">Latest Updates</span>
    </div>
    <div class="ticker-content-wrapper">
      <div class="ticker-content">
        {% for notification in notifications %}
          <a href="{% url 'notification2' notification.id %}" class="ticker-item">
            {% if notification.category %}
              <span class="ticker-category">[{{ notification.category|upper }}]</span>
            {% endif %}
            <span class="ticker-title">{{ notification.title }}</span>
          </a>
          {% if not forloop.last %}
            <span class="ticker-separator">•</span>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}

  <section>
    <div class="detailsbox">
      <div class="image  manager-img">
        <img src="{% static 'assets/sn_manager.jpg' %}" alt="" />
        <div class="name">Sri.M.M. Damodaran</div>
      </div>
      <div class="text">
        <div class="head">MESSAGE FROM THE MANAGER</div>
        <div class="mssg">
          SNDP Yogam is the biggest social organization in kerala. As a part of
          their social service, the Yogam is running agood number of aided and
          unaided colleges, Higher Secondary Schools,High Schools, UP and LP
          Schools,In order to provide higher education facilities to the weaker
          sections of the society, the Union started an Arts and ScienceCollege
          named after the Jagat Guru Sri Narayana as Sree Narayana College,
          Vatakara. The College was started in 2003 with two UG Courses. Slowly
          but steadily we have developed this college to a first grade college
          with 14 UG and 5 PG Courses. Now it is Placed as the biggest and the
          best unaided college in and around Vatakara. I hope that this
          institution progresses further to a Centre of Academic Excellence
          within a few years. We have a plan named ‘Vision 2024’ for the allroun
          development of the institution. The Management is fully committed to
          achive this goal.
        </div>
        {% comment %}
        <div class="readmore flex">
          <a href="/manager" class="moretext">Read More</a
          ><img
            class="arrow"
            src="{% static 'assets/rightarrow.svg' %}"
            alt=""
          />
        </div>
        {% endcomment %}
      </div>
    </div>
    <div class="detailsbox">
      <div class="text">
        <div class="head">DEAR PARENTS AND STUDENTS</div>
        <div class="mssg">
          Sree Narayana College, Vatakara was established in 2003 and within
          this short span of time has placed itself at the very top among the
          self financing colleges affiliated to the University of Calicut.
          Located on asunny hilltop, in a verdant surrounding, Sree Naryana
          College with its will laid out buildings, presents a picture of scenic
          beauty, refreshing to the sight and mind. The college is administered
          by SNDP Union ..
        </div>
        <div class="readmore flex">
          <a href="/principal" class="moretext"
            >Read More<img
              class="arrow"
              src="{% static 'assets/rightarrow.svg' %}"
              alt=""
            />
          </a>
        </div>
      </div>
      <div class="mw image flexnum">
        <img src="{% static 'assets/principal.jpeg' %}" al{{
        article.date|date:"D" }}, {{ article.date }}t="" />
        <div class="name">Dr. M.K.Radhakrishnan</div>
      </div>
    </div>
  </section>
</div>

<div class="container ncon">
  <div class="part">
    <div class="heading">Recent News & Updates</div>
    <div class="event-group ev">
      {% for article in news %}
      <a href="{% url 'news' article.id %}" class="news-box w-600">
        <div class="text">{{ article.title }}</div>
        <div class="date-box">{{article.date}}</div>
      </a>
      {% endfor %}

      <div class="readmore flex">
        <a href="{% url 'allnews' %}" class="moretext"
          >Read All News<img
            class="arrow"
            src="{% static 'assets/downarrow.svg' %}"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
  <div class="part">
    <div class="heading">Upcoming Events</div>
    <div class="event-group ev">
      {% for event in events %}
      <a href="{% url 'events' event.id %}" class="event-box">
        <div class="date line">
          <div class="day">{{event.date.day}}</div>
          <div class="month">{{ event.date|date:"M" }}</div>
          <div class="year">{{event.date.year}}</div>
        </div>
        <div class="info">
          <div class="headingSmall">{{ event.title }}</div>
          <div class="otherinfo">
            <div>{{ event.time }}</div>
            <div>{{ event.venue }}</div>
          </div>
        </div>
      </a>
      {% endfor %}

      <div class="readmore flex">
        <a href="{% url 'allevents' %}" class="moretext"
          >View All Events
          <img src="{% static 'assets/rightarrow.svg' %}" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'slides.js' %}" defer></script>
{% endblock %}
