{% extends 'header.html' %} {% block content %}
  {% load static %}
  <div class="container banner">
    <div class="heading">IQAC (Internal Quality Assurance Cell)</div>
  </div>

  <div class="container">
    <div class="sec-container">
      {% for m in members %}
        <div class="small-container flex-just-start flex-c list">
          {% if m.photo %}
            <img class="img-small" src="{{ m.photo.url }}" alt="" />
          {% else %}
            <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
          {% endif %}
          <div class="c">{{ m.name }}</div>
          <div class="light">{{ m.department }} ({{ m.get_role_display }})</div>
        </div>
      {% empty %}
        <div class="small-container flex-just-start flex-c list">
          <div class="c">No IQAC members added yet.</div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
