{% extends 'header.html' %}
{% block content %}
  {% load static %}

  <div class="container banner">
    <div class="heading">Programme &amp; Syllabus</div>
  </div>

  <div class="container">
    <div class="sec-container">
      <div class="small-container flex list" style="justify-content: flex-start; gap: 12px; flex-wrap: wrap">
        <a href="{% url 'programme_syllabus' %}?level=fyugp" class="btn outline">UG - FYUGP</a>
        <a href="{% url 'programme_syllabus' %}?level=ug" class="btn outline">UG</a>
        <a href="{% url 'programme_syllabus' %}?level=pg" class="btn outline">PG</a>
      </div>

      {% for it in items %}
        <div class="small-container flex list">
          <div class="flex">
            <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
            <div class="c">{{ it.title }}</div>
          </div>
          <a href="{{ it.syllabus_pdf.url }}" class="btn outline" target="_blank"><img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus</a>
        </div>
      {% empty %}
        <div class="small-container">
          <p>No courses uploaded yet for this category.</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
